<a href="https://colab.research.google.com/github/vyhee/okwara-chinonso-/blob/master/okwarachinonso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

okwara chinonso hamoye stage one test

In [3]:
import numpy as np
import pandas as pd

getting the data set

In [4]:
url = 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url)
fuel_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

question one

In [9]:
a = [1,2,3,4,5,6]
b = [13,21,34]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 13, 21, 34]

question two

In [8]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

question three

In [10]:
skewness_fuel_qty_burned = fuel_data['fuel_qty_burned'].skew()
kurtosis_fuel_qty_burned = fuel_data['fuel_qty_burned'].kurtosis()
print(skewness_fuel_qty_burned)
print(kurtosis_fuel_qty_burned)

15.851495469109503
651.3694501337732

question four

In [11]:
fuel_data['fuel_unit'].describe()

count     29343
unique        9
top         mcf
freq      11354
Name: fuel_unit, dtype: object

question five

In [13]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64